In [284]:
# Librerias necesarias
import pandas as pd
import numpy as np
import os
import glob

In [288]:
# data1 = pd.read_csv('Pagos_CL.csv')
# data1.head()

In [313]:
# data = ['Pagos_CL.csv', 'Pagos_PE.csv', 'Pagos_PA.csv', 'Pagos_GT.csv', 'Pagos_CO.csv']



# # print(pago1.head(), '\n\n', pago2.head(), '\n\n', pago3.head(), '\n\n', pago4.head(), '\n\n', pago5.head())
# df = pd.DataFrame(data, columns = ['Estatus',	'Nro.Fiscal', 'IdCliente',	'Val.aplicado',	'FechaFac.', 'FechaPago'])
# df = df.assign(Pais = ['Chile', 'Peru', 'Panama', 'Guatemala', 'Colombia'])
# df

In [211]:
# Cargar en un lista los nombres de todos los archivos
# filelist = os.listdir('E:\Ciencia\Estadistica_Inferencial')
# filelist

In [227]:
pagos = glob.glob('Pagos*.csv')
print(pagos)

['Pagos_CL.csv', 'Pagos_CO.csv', 'Pagos_GT.csv', 'Pagos_PA.csv', 'Pagos_PE.csv']

In [180]:
# merging the files
# path = 'E:\Ciencia\Estadistica_Inferencial'

# [os.path.join(path, file) for file in filelist if '.csv' in file]

In [302]:
# df = pd.concat(map(pd.read_csv, ), ignore_index=True)
# df.shape

In [321]:
# Crear DataFrame vacio
# data = pd.read_csv({'Pagos_CL.csv','Pagos_PE.csv','Pagos_PA.csv','Pagos_GT.csv','Pagos_CO.csv'})
# data2 = pd.read_csv('Pagos_PE.csv')
# data3 = pd.read_csv('Pagos_PA.csv')
# data4 = pd.read_csv('Pagos_GT.csv')
# data5 = pd.read_csv('Pagos_CO.csv')

df = pd.DataFrame()
#  = df.assign(Pais = ['Chile', 'Peru', 'Panama', 'Guatemala', 'Colombia'])

# Recorrer la lista de archivos y unirlos
for file in pagos:
    data_pa = pd.read_csv(file)
    df = pd.concat([df, data_pa], axis=0)
df.shape

(137084, 6)

In [320]:
df

,Estatus,Nro.Fiscal,IdCliente,Val.aplicado,FechaFac.,FechaPago
0,Pagado,FAC 2227016,5351576-2,7,01/09/2022,19/08/2022
1,Pagado,FAC 2521103,76828190-4,220000,15/09/2022,14/09/2022
2,Pagado,FAC 2547214,13145793-6,8399,13/09/2022,12/09/2022
3,Pagado,FAC 2663003,81402500-4,160996,14/09/2022,13/09/2022
4,Pagado,FAC 2665277,81402500-4,36525,14/09/2022,13/09/2022
...,...,...,...,...,...,...
29341,Nota Credito,F029-0006037,7450355,183,31/12/2022,31/12/2022
29342,Nota Credito,F029-0006038,8082146,13372,31/12/2022,31/12/2022
29343,Nota Credito,F029-0006039,8082805,99,31/12/2022,31/12/2022
29344,Nota Credito,F029-0006040,8082805,125,31/12/2022,31/12/2022
29345,Nota Credito,F029-0006041,8082805,125,31/12/2022,31/12/2022

In [301]:
df.to_csv("Pagos_consolidados.csv")